p {
    color:rgb(235, 235, 243);
    background-color: rgb(19, 19, 175);
    font-size: 40px;    /* comentários no css*/
    text-align: center;
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;



}

h2{
    font-size: 70px;

}

img{
    font-size: 200px;
}